global
    maxconn 8192
    nbthread 1
    tune.bufsize 16384
    tune.maxrewrite 1024
    quiet

defaults
    mode http
    option http-keep-alive
    no log
    option dontlognull
    retries 0
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    timeout http-request 2s
    timeout queue 5ms

frontend rinha
    bind :9999
    default_backend apis

backend apis
    balance roundrobin
    default-server maxconn 128
    http-reuse always
    server api1 /sockets/api1.sock
    server api2 /sockets/api2.sock
